Repository andrewvasilchuk/vue-typed-emit: changes, and which lint-staged commands are due for each by the changed paths.
All: eclint check, prettier, sort-package-json --check, remark

.lintstagedrc:

{
  "*": ["eclint check"],
  "*.{ts,md}": ["prettier"],
  "package.json": ["sort-package-json --check"],
  "*.md": ["remark"]
}

docs: fix typo
  README.md
Due: eclint check, prettier, remark

ci: add ability to skip ci [skip-ci]
  .github/workflows/integrate.yml
Due: eclint check

docs: add shields [skip-ci]
  README.md
Due: eclint check, prettier, remark

docs: fix invalid code snippets [skip-ci]
  README.md
Due: eclint check, prettier, remark

feat: add support for Composition API
  README.md
  package-lock.json
  package.json
  src/composition-api-emit.ts
  src/index.ts
  src/options-api-emit.ts
  src/private/events.ts
  src/private/generic-emit.ts
  tests/index.ts
Due: eclint check, prettier, sort-package-json --check, remark

chore(deps): update
  package-lock.json
  package.json
Due: eclint check, sort-package-json --check

feat: add support for Composition API (fixes #1) (#2)
  README.md
  package-lock.json
  package.json
  src/composition-api-emit.ts
  src/index.ts
  src/options-api-emit.ts
  src/private/events.ts
  src/private/generic-emit.ts
  tests/index.ts
Due: eclint check, prettier, sort-package-json --check, remark

chore(editorconfig): add end_of_line setting
  .editorconfig
Due: eclint check

chore: use editorconfig-checker instead of eclint
  .lintstagedrc
  package-lock.json
  package.json
Due: eclint check, sort-package-json --check

style: run fmt
  Makefile
  src/composition-api-emit.ts
  src/options-api-emit.ts
  src/private/events.ts
  tsconfig.json
Due: eclint check, prettier

chore: enhance .md files linting
  .remarkrc
  package.json
Due: eclint check, sort-package-json --check

chore: release v1.1.0 [skip-ci]
  package-lock.json
  package.json
Due: eclint check, sort-package-json --check

docs: add a warning about Vue 3
  README.md
Due: eclint check, prettier, remark

chore: update deps
  .editorconfig
  .github/workflows/integrate.yml
  Makefile
  README.md
  package-lock.json
  package.json
Due: eclint check, prettier, sort-package-json --check, remark

chore: update deps
  package-lock.json
  package.json
  tests/index.d.ts
  tests/index.ts
  tests/tsconfig.json
  tsconfig.json
  tsconfig.test.json
Due: eclint check, prettier, sort-package-json --check

chore: specify maximum supported Vue version
  README.md
  package-lock.json
  package.json
Due: eclint check, prettier, sort-package-json --check, remark

chore: version bump
  package-lock.json
  package.json
Due: eclint check, sort-package-json --check

chore: update dependencies
  .remarkrc
  README.md
  package-lock.json
  package.json
  src/index.ts
  src/private/generic-emit.ts
  tests/index.ts
  tsconfig.json
Due: eclint check, prettier, sort-package-json --check, remark

ci: update node and actions
  .github/workflows/integrate.yml
Due: eclint check

chore: release v1.2.0 [skip-ci]
  package-lock.json
  package.json
Due: eclint check, sort-package-json --check
